<h2>{{title}}</h2>
<ol>
  <li *ngFor='let workout of workouts'>
    {{workout.name}} on {{workout.timestamp}}
    <ul>
      <li *ngFor='let lift of workout.lifts'>
        {{lift.name}}
        <ul>
          <table>
            <tr>
              <th>Reps</th>
              <th>Weight</th>
            </tr>
            <tr *ngFor='let set of lift.sets'>
              <td>{{set.reps}}</td>
              <td>{{set.weight + ' ' + set.weightType}}</td>
            </tr>
          </table>
        </ul>
      </li>
    </ul>
  </li>
</ol>